/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*------------------------------*/

.container{
    display:flex;
    height: 100%;
    width: 100%;
    position: fixed;
    

}

*{
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
}


.nav-container{
    width: 300px;
    height: 100%;
    position: relative;
    background: rgb(20, 220, 63);
    overflow: hidden;
}

.nav-title-conatiner, .add-notes-container, .add-btn, .page-title-input{
    width: 100%;
    height: 100px;
}

.nav-title{
    line-height: 100px;
    font-size: 25px;
    color: white;
    text-align: center;
}

b{
    color: rgb(18, 192, 56);
}

.saved-notes-container{
    width: 100%;
    background: rgb(20, 220, 63);
    overflow-y: auto;
    max-height: 70%;;
}

.add-notes-container{
    position: relative;
}

button{
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.add-btn{
    
    background: rgb(20, 220, 63);
    color: white;
    transition: .3s;
}

.add-btn:hover, .note-tab:hover{
    background: rgb(18, 192, 56);
    transition: .3s;;
}

.page-container{
    background: rgb(248, 248, 248);
    width: 100%;
}

.page-title-input{
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);
    outline: none;
    font-size: 50px;
    background: transparent;
    padding-left: 25px;
}

.note-tab{
    width: 100%;
    height: 50px;
    background: rgb(20, 220, 63);
    color: white;
    margin-bottom: 15px;
}

.active{
    background: rgb(19, 212, 61);
}

.page-textarea{
    width: 100%;
    height: 100vh;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    padding: 25px;
}

.option-container{
    width: 50px;
    height:50px;
    background: crimson;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 50px;
    background:transparent;
}

.trash-btn{
    width: 50px;
    height: 50px;
    background: transparent;
}

.trash-btn:hover{
    opacity: .5;
}